body {
    padding: 24px;
}

.nav-pills {
  margin-bottom: 1em;
  h4 {
    margin-top: 0;
  }
  li {
    min-width:90px;
  }
}

#embedcode, #title {
    width: 98%;
}

#preview {
    max-width: 98% ;
    margin-bottom: 1em;
}

#previewBox {
  display: inline-block;
}

#htmlCheck {
    display: none;
}

.alert {
    max-width: 98% ;
}


.inner {
    margin: 0 10px;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {

}