body {
    padding: 24px;
}

.nav-pills {
  margin-bottom: 1em;
  h4 {
    margin-top: 0;
  }
  li {
    min-width:90px;
  }
}

#embedcode, #title {
    width: 98%;
}

#preview {
    max-width: 98% ;
    margin-bottom: 1em;
}

#previewBox {
  display: inline-block;
}

#htmlCheck {
    display: none;
}

#floatOptions {
  display: table;
  margin-bottom: 10px;
}

.alert {
    max-width: 98% ;
}


.inner {
    margin: 0 10px;
}

.form-horizontal .form-group.input-size-el {
    width: 210px;
    vertical-align: top;
    display: inline-block;
    margin-left: -10px;
    margin-right: 0px;
}

.row .col-xs-1 {
  width: 70px;
}

