/* line 1, ../sass/templates/main.scss */
body {
  padding: 24px;
}

/* line 5, ../sass/templates/main.scss */
.nav-pills {
  margin-bottom: 1em;
}
/* line 7, ../sass/templates/main.scss */
.nav-pills h4 {
  margin-top: 0;
}
/* line 10, ../sass/templates/main.scss */
.nav-pills li {
  min-width: 90px;
}

/* line 15, ../sass/templates/main.scss */
#embedcode, #title {
  width: 98%;
}

/* line 19, ../sass/templates/main.scss */
#preview {
  max-width: 98%;
  margin-bottom: 1em;
}

/* line 24, ../sass/templates/main.scss */
#previewBox {
  display: inline-block;
}

/* line 28, ../sass/templates/main.scss */
#htmlCheck {
  display: none;
}

/* line 32, ../sass/templates/main.scss */
.alert {
  max-width: 98%;
}

/* line 37, ../sass/templates/main.scss */
.inner {
  margin: 0 10px;
}

/* line 41, ../sass/templates/main.scss */
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
